
<div *ngIf="this.status === 'Loading' then placeHolder"></div>
<div *ngIf="this.status === 'NotFound' then notFound"></div>
<div *ngIf="this.status === 'Finished' && this.meal">
  <app-meal-data [meal]="this.meal"></app-meal-data>
</div>



<ng-template #placeHolder>
  <div class="animate-pulse">
    <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-64 mb-4"></div>
  </div>
</ng-template>

<ng-template #notFound>
  <div class="">
    <h1 class="text-4xl">Not Found</h1>
    <p class="p-4 rounded-lg border border-yellow-500 bg-yellow-100 mt-4 text-yellow-700">There is no meal with the ID {{this.id}}</p>
  </div>
</ng-template>
