
<h1 class="text-4xl font-black mt-5 text-slate-700">Categories</h1>
<p class="my-2 text-xl font-normal text-slate-800 ">Below you can find a list of all available categories.</p>

<ul class="divide-y py-2 flex flex-col" *ngIf="(this.categories != undefined && this.categories.length > 0) else categoriesLoading">
    <app-categories-list-entry [category]="entry" *ngFor="let entry of this.categories"></app-categories-list-entry>
</ul>
<ng-template #categoriesLoading>
    Loading ...
</ng-template>

