<nav class="sticky top-0 bg-slate-800 w-full z-20">
  <ul class="flex flex-row gap-3 px-3 items-baseline ">
    <a class="p-2 hover:bg-white/10 text-white" routerLink="/"><li class="text-lg font-black">Meal Database Lookup</li></a>
    <a *ngFor="let entry of this.leftLinks" class="p-2 hover:bg-white/10 text-white" [routerLink]="entry.href" ><li>{{entry.label}}</li></a>
    <div class="flex-1"></div>
    <a *ngFor="let entry of this.rightLinks" class="p-2 hover:bg-white/10 text-white" [routerLink]="entry.href" ><li>{{entry.label}}</li></a>
  </ul>
</nav>
