<h1 class="text-5xl font-semibold text-neutral-600">Meals with <span class="text-blue-700 font-black">{{this.ingredientName}}</span></h1>

<p class="text-xl animate-pulse" *ngIf="!this.meals">
  Loading...
</p>

<p class="text-xl" *ngIf="this.meals && this.meals.length > 0">
  Below you can find a list of meals containing <span>{{this.ingredientName}}.</span>
</p>

<app-filter-result *ngIf="this.meals" [meals]="this.meals"></app-filter-result>
