
<h1 class="text-4xl font-bold text-slate-800">Meal Database Lookup</h1>
<p class="my-2 text-lg font-normal">
  This page acts as a Frontend of the <span class="font-semibold">TheMealDB</span> API. You can search for meals by Category or get a random Meal in the Nav-Bar.
  Alternatively, you can also search for Meals by name in search bar on the right.
</p>

<section id="area">
  <h2 class="text-3xl font-bold text-slate-700">
    Search by Region / Area
  </h2>
  <div *ngIf="this.regions && this.regions.length > 0" class="mt-4 flex flex-row flex-wrap gap-3 justify-center">
    <a [routerLink]="'filter/regions/'+entry" *ngFor="let entry of this.regions"
      class="text-lg font-semibold text-slate-800 py-2 px-3 border-2 border-slate-400 rounded-full hover:border-transparent  hover:bg-slate-900 hover:text-white hover:shadow-md transition-all duration-200">
      {{entry}}
    </a>
  </div>
  <p *ngIf="this.regions && this.regions.length === 0" class="mt-4 text-lg">
    No Regions were returned... This should not happen.
  </p>
</section>

<section id="ingredients" class="my-12">
  <h2 class="text-3xl font-bold text-slate-700">
    Search by Ingredient
  </h2>
  <div *ngIf="this.ingredients && this.ingredients.length > 0" class="mt-4 flex flex-row flex-wrap gap-3 justify-center">
    <a [routerLink]="'filter/ingredients/'+entry" *ngFor="let entry of this.ingredientsToShow"
      class="text-lg font-semibold text-slate-800 py-2 px-3 border-2 border-slate-400 rounded-full hover:border-transparent  hover:bg-slate-900 hover:text-white hover:shadow-md transition-all duration-200">
      {{entry}}
    </a>
  </div>
  <div class="w-full flex flex-col mt-5" *ngIf="this.ingredients && this.ingredients.length">
    <button
      (click)="this.ingredientsExpanded = !this.ingredientsExpanded"
      class="mx-auto text-lg font-semibold text-blue-800 py-2 px-3 border-2 border-blue-400 rounded-full hover:border-transparent  hover:bg-blue-900 hover:text-white hover:shadow-md transition-all duration-200">

      Show {{ this.ingredientsExpanded ? "less" : "more" }} ingredients
    </button>
  </div>
  <p *ngIf="this.ingredients && this.ingredients.length === 0" class="mt-4 text-lg">
    No Ingredients were returned... This should not happen.
  </p>
</section>

