<a class="hover:bg-neutral-50 transition-all flex duration-300 shadow-none  hover:shadow-md"  [routerLink]="'/categories/'+this.category.name">
  <div class="gap-2 p-4 inline-flex flex-row">
    <img class="h-24 object-contain" [src]="this.category.thumbnailUrl">
    <div class="inline-flex flex-col justify-start">
      <p class="text-xl font-black text-slate-800">
        {{this.category.name}}
      </p>
      <p class="max-lines-3 text-md text-slate-600 font-thin">
        {{this.category.description}}
      </p>
    </div>
  </div>
</a>
