<h1 class="text-5xl font-semibold text-neutral-600"><span class="text-blue-700 font-black">{{this.regionName}}</span> Meals</h1>

<p class="text-xl animate-pulse" *ngIf="!this.meals">
  Loading...
</p>

<p class="text-xl" *ngIf="this.meals && this.meals.length > 0">
  Below you can find a list of <span>{{this.regionName}} meals.</span>
</p>

<app-filter-result *ngIf="this.meals" [meals]="this.meals"></app-filter-result>
