.tags-list {
  @apply w-full flex flex-wrap gap-2 mt-4;
  & > * {
    @apply inline-flex text-neutral-600 items-center bg-neutral-50 border border-neutral-400 py-2 px-3 rounded-full;
    span {
      @apply text-lg font-black ml-2;
    }
  }
  a {
    @apply hover:bg-neutral-200
  }
}

