<h1 class="text-4xl font-black text-slate-700">{{this.meal.meal}}</h1>

<div *ngIf="this.meal.imageUrl" class=" w-full h-64 my-2">
  <img [src]="this.meal.imageUrl" class="w-full h-full object-cover rounded-lg" />
</div>


<div [class]="'tags-list  '+ (this.meal.imageUrl ? 'in-img' : '') ">
  <div *ngIf="this.meal.area">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Z"/></svg>
    <span>{{this.meal.area}}</span>
  </div>
  <div *ngFor="let entry of this.meal.tags">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21V5q0-.825.588-1.413T7 3h10q.825 0 1.413.588T19 5v16l-7-3l-7 3Z"/></svg>
    <span>{{entry}}</span>
  </div>
  <a target="_blank" [href]="this.meal.source" *ngIf="this.meal.source">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>
    <span>Source</span>
  </a>
</div>

<section id="ingredients">
  <h2 class="text-3xl font-bold text-slate-600 mt-12 ">Ingredients</h2>
  <!-- Mainly copied from https://flowbite.com/docs/components/tables/ -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
    <table class="w-full text-sm text-left text-gray-500 table-auto">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100  ">
        <tr>
          <th class="px-6 py-3">Ingredient</th>
          <th class="px-6 py-3">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of this.meal.ingredients" class="border-b bg-white odd:bg-slate-50 hover:bg-slate-100">
          <td class="px-6 py-1">{{entry.ingredient}}</td>
          <td class="px-6 py-1">{{entry.measure}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section id="instructions" class="mb-12">
  <h2 class="text-3xl font-bold text-slate-600 mt-12 ">Instructions</h2>
  <ul role="list" class="mt-4 list-disc pl-5 space-y-1  marker:text-slate-600 text-neutral-700">
    <li *ngFor="let entry of this.meal.instructions" class="hover:text-sky-900">{{entry}}</li>
  </ul>
</section>
