<app-navbar
  [leftLinks]="[{href: '/categories', label: 'Categories'}, {href: '/meals/random', label: 'Random'}]"
  [rightLinks]="[{href: '/about', label: 'About'}]"
  >
</app-navbar>

<app-prose-wrapper>
  <router-outlet></router-outlet>
</app-prose-wrapper>

