
<h1 class="text-5xl font-bold text-slate-600 my-5">Not Found!</h1>
<p class="text-xl text-neutral-600 mb-5">
  The Page you were trying to access could not be found.
</p>
<a  [routerLink]="'/'" class="border-blue-400 text-blue-700 border-2 rounded-full py-2 px-3 transition-all duration-200 text-lg font-bold hover:bg-blue-800 hover:text-white hover:border-transparent">
  Go back to Landing Page
</a>

