<h1 class="text-5xl font-semibold text-neutral-600"><span class="text-blue-700 font-black">{{this.categoryName}}</span> Category</h1>

<p class="text-xl animate-pulse" *ngIf="!this.meals">
  Loading...
</p>

<p class="text-xl my-2" *ngIf="this.meals && this.meals.length > 0">
{{this.description}}
</p>

<app-filter-result *ngIf="this.meals" [meals]="this.meals" [error]="this.error"></app-filter-result>
