
<h1 class="text-4xl font-black text-slate-800">About</h1>
<p class="text-xl mt-4">
  This Page is an introductory excercise into working with Angular.
  It was used to better understand Angular Concepts, specifically the use of Rx.js and Routing.
  <br>
  It makes calls to
  <a class="font-bold underline hover:text-blue-800" href="https://www.themealdb.com/api.php" target="_blank">The Meal DB</a>
  which acts as a public API.
</p>

