<div class="bg-yellow-100 border border-yellow-400 rounded-md p-4 text-yellow-600 font-semibold" *ngIf="this.error">
  <p>{{this.error}}</p>
</div>

<div class="flex flex-wrap justify-center md:justify-between" *ngIf="!this.error && !!this.meals && this.meals.length > 0" >
  <a [routerLink]="'/meals/'+entry.id"
    ngClass="rounded-lg border bg-white hover:bg-neutral-100 shadow-sm hover:shadow-lg my-2 w-80 transition-all duration-200 translate-x-0 hover:translate-x-1 translate-y-0 hover:-translate-y-2 rotate-0 hover:rotate-2"
    *ngFor="let entry of this.meals">

    <img *ngIf="!!entry.thumbnailUrl else noImageSpacer" [src]="entry.thumbnailUrl" class="w-full h-48 object-cover aspect-video rounded-t-lg">
    <p class="text-lg p-2 font-bold ">
      {{entry.name}}
    </p>
  </a>
</div>



<ng-template #noImageSpacer>
  <div class="w-full h-48 text-neutral-200 flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="m20.475 23.3l-2.3-2.3H5q-.825 0-1.413-.588T3 19V5.825L.7 3.5l1.4-1.4l19.8 19.8l-1.425 1.4ZM5 19h11.175l-2-2H6l3-4l2 2.725l.85-1.05L5 7.825V19Zm16-.825l-2-2V5H7.825l-2-2H19q.825 0 1.413.588T21 5v13.175Zm-7.525-7.525ZM10.6 13.425Z"/></svg>
  </div>
</ng-template>
